.wrapper {
  width:960px;
  margin:0 auto;
  background-color: #fafafa;
}

header {
  background-color: #fafafa;
  height:500px;
  /* background-color: pink;
  background-image: url(../img/header.png);
  background-size: cover;
  background-position: center; */
  background: center/cover url(img/Atree_01.jpg);
}

main {
  background-color: #fafafa;
  height:1500px;
}

section {
  margin-bottom:200px;
  /* Offset of margin */
  margin-top:10px;
}

footer {
  background-color: #fafafa;
  height:200px;
}

.menu {
  display: inline-block;
}

a {
  text-decoration: none;
  padding: 10px;
}

.btn {
  border: solid 1px silver;
  background-color: turquoise;
  border: solid 2px blue;
  box-sizing: border-box;
  margin: 10px;
}

.sk {
  margin: 0 auto;
}
wk {
  margin-left: auto;
}

p {
  margin-bottom: 20px;
}

h1 {
  padding-top: 20px;
  margin-bottom: 20px;
}

/* nav{
  text-align: center;
  } */

/* nav ul{
  margin: 0 ;
  padding: 0 ;
} */
nav ul li{
list-style: none;
display: inline-block;
width: 18%;
min-width: 90px;
}
nav ul li a{
text-decoration: none;
color: #333;
}
nav ul li.current a{
color: #F33135;
}
nav ul li a:hover{
color: #E7DA66;
}

.nav-wrapper {
  text-align: center;
}

img {
  float: right;
}